.container__button_save {
    height: 50px;
    border: solid #000;
    border-radius: 2px;
    margin: 48px 36px 37px;
    background-color: black;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    color: #fff;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.container__button_save:hover {
    opacity: 80%;
}

@media screen and (max-width: 767px) {
    .container__button_save {
        height: 46px;
        margin: 45px 22px 25px;
        font-size: 14px;
        line-height: 16.94px;
    }
}