.profile__edit-button {
    margin: 15px 0 34px;
    border: 1px solid #fff;
    background-image: url(../../../sprint-4-images/Vector2.svg);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
    background-color: black
}

@media screen and (max-width: 767px) {
    .profile__edit-button{
background-size: 7.5px;
    }
}