.popup__form_name {
    border: 0;
    height: 14px;
    margin: 0 36px 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 400px;
    font-size: 14px;
    line-height: 16.94px;
    color: black;
}

@media screen and (max-width: 767px) {
    .popup__form_name {
        margin: 0 22px 13px;
    }
}