.popup__form_job {
    border: 0;
    width: 358px;
    height: 14px;
    margin: 30px 36px 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 400px;
    font-size: 14px;
    line-height: 16.94px;
    color: black;
}