.container__form_job {
    border: 0;
    height: 27px;
    margin: 30px 36px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 400px;
    font-size: 14px;
    line-height: 16.94px;
    color: black;
}

@media screen and (max-width: 767px) {
    .container__form_job {
        margin: 30px 22px 0;
    }
}